body {
background:url(https://phonoteka.org/uploads/posts/2021-05/1621736554_1-phonoteka_org-p-chernii-karbonovii-fon-1.jpg);
color: #000000;
font-family: Trebuchet MS, Arial, Times New Roman;
text-align: center;
}

header {
    background-color:#141414;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-img{
    margin-right: 15px;
    width: 150px;
}

.hor-menu ul li{
    list-style-type: none;
    float: left;
    padding: 15px 5px;
    color: purple;
}

/* меню */

.hor-menu ul li a {
    color: #080112;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    transition:all 0.5s;
}

/* картинка телефона у номера */

.call {
width: 30px;
margin-bottom: -9px;
margin-right: 15px;
}

/* параметры наведения на номер */


.knopki {
margin-top: 50px;
margin-right: 725px;
}

 }

 .header p {
   font-size: 15px;
 }

 .car {
width: 175px;
padding-top: 10px;
padding-left: 10px;
margin:0 auto ;
display: flex;
margin-top: 5px


 }

 .carcont {
width: 400px;
height: 250px;
padding-left: 15px;
padding-top: 15px;

 }

 #content { 
 background: #d2d0d2;
 width: 900px;
 height: 624px; 
 }
 .content h4{
    font-size:15px;
    padding-left: 100px;
 }

 #footer { 
 background: #838283;
 height: 180px;
 width: 900px;
 }
 .text {
    font-size: 15px;
    padding-left: 20px;
    padding-top: 10px;
    background: #141414;
    font-family: Bradley Hand, cursive;
    margin-bottom: -25px;
    margin-top: 15px
  }

 .carcont {
  display: flex;
  justify-content: center;
  margin: 0px auto;  
 }
 .text p {
   padding-bottom: 10px;
   color: white;
   font-family: Bradley Hand, cursive;

 }
 .text h5 {
   font-size: 15px;
   font-weight: normal;
   color: white;
   font-family: Bradley Hand, cursive;


 }
  .text h4   {
   font-size: 15px;
   font-weight: normal;
   color: white;
   font-family: Bradley Hand, cursive;


 }

   .text h1  {
   font-size: 15px;
   font-weight: normal;
   color: white;
   font-family: Bradley Hand, cursive;

 }


    .text h3 {
   font-size: 15px;
   font-weight: normal;
   color: white;
   font-family: Bradley Hand, cursive;


 }

.zagol {
  font-family:Comic Sans MS, Comic Sans, cursive;
  font-size: 25px;
  color: white;
  text-align: center;
}

.text h2{
  color: white;
  font-family: Bradley Hand, cursive;
  text-align: center;
  margin-top: 30px;

}

.salon{
  width: 860px;
  height: 300px;
}

ul.nav{
margin-left: 0px;
padding-left: 0px;
list-style: none;
}

.nav li { 
display: inline; 
}


ul.nav a {
display: inline-block;
width: 5em;
padding:10px;
background-color: #f4f4f4;
border: 1px dashed #333;
text-decoration: none;
color: #333;
text-align: center;
}

ul.nav a:hover{
background-color: #333;
color: #f4f4f4;
}
button a {
text-decoration: none;
color: white;
}
button {
  background-color: black;

}
 /* Подвал */

    width: 99%;
 footer {
    background: #3b3b3b;
    padding-bottom: 60px;
    border:5px solid #696969;
    height: 30px;
    margin-top: 25px;
    height: 30px;
 }

 .Podval p {
    text-align: center;
    padding-top: 15px;
    color: #808080;
    font-family:Trebuchet MS, sans-serif;
    font-size: 20px;
 }
    .boss-gall {
max-width: 1500px;
}
.gallery {
display: flex;
justify-content: center;
margin: 0 auto;
 }
.gal-img {
margin: 10px;
border: 6px solid white;
}
.gal-img img {
height: 440px;
}
.txt-logo {
    color: white;
}

a{
    text-decoration: none;
    color: grey;
    font-weight: 700;
}
